.App {
  padding: 8px;
  display: grid;
}
#mainTitle {
  text-align: center;
}

.article {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 2fr 1fr;

  grid-auto-rows: 1fr 1fr auto auto;

  grid-template-areas:
    "title votes"
    "articleAuthor created_at"
    "body body"
    "comments  comments";
}

#title {
  grid-area: title;
  border: 1px blue solid;
}
#articlesTitle {
  grid-area: articleTitle;
  text-align: center;
}

#articleAuthor {
  grid-area: articleAuthor;
}
#articleCreated {
  grid-area: created_at;
}
#body {
  overflow-y: scroll;
  grid-area: body;
}
#votes {
  grid-area: votes;
}

.comments {
  overflow-y: scroll;
  grid-area: comments;
  border: 1px red solid;
  margin: 1%;
}

#commentList {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 1%;
}
.comment {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-auto-rows: 2fr 2fr;
  grid-template-areas:
    "userName comment comment"
    "votes comment comment";
}

#commentAuthor {
  grid-area: userName;
}
#commentBody {
  grid-area: comment;
}
#commentVotes {
  grid-area: votes;
}
