.App {
  padding: 8px;
  display: grid;
}
#mainTitle {
  text-align: center;
}
#mainTitle::first-letter {
  color: rgb(188, 24, 53);
}

.article {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 2fr 1fr;

  grid-auto-rows: 1fr 1fr auto auto;

  grid-template-areas:
    "title votes"
    "articleAuthor created_at"
    "body body"
    "comments  comments";
}

#title {
  grid-area: title;
}
#articlesTitle {
  grid-area: articleTitle;
  text-align: center;
}

#articleAuthor {
  grid-area: articleAuthor;
}
#articleCreated {
  grid-area: created_at;
}
#body {
  overflow-y: scroll;
  grid-area: body;
}
#votes {
  margin-top: 35px;
  grid-area: votes;
}

#voteUp.disabled {
  background-color: #143c47;
}
#voteDown.disabled {
  background-color: #143c47;
}

.comments {
  overflow-y: scroll;
  grid-area: comments;

  margin: 1%;
}

#commentList {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 1%;
}
.comment {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-auto-rows: 2fr 2fr;
  grid-template-areas:
    "userName comment comment"
    "votes comment comment";
}

#commentAuthor {
  grid-area: userName;
}
#commentBody {
  grid-area: comment;
}
#commentVotes {
  grid-area: votes;
}

.button {
  background-color: #43abc9;
  color: white;
  border-radius: 8px;
  border: none;
  color: white;
  padding: 10px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
}
#loggedIn {
  position: relative;
}

#profileButton {
  position: relative;
  margin-top: -10px;
  float: right;
}

.button:hover {
  background-color: #abc943;
  color: black;
}
.articleList {
  padding: 1%;
}
.articleItem {
  list-style-type: none;
  border: none;
  border-bottom: 2px solid #43abc9;
}
#userComments {
  list-style-type: none;
  padding: 2px;
}
#userCommentItem {
  border: none;
  border-bottom: 2px solid #43abc9;
}

#filterForm {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "filterOrder button" "filterBy button";
}
#order {
  grid-area: filterOrder;
}
#filterBy {
  grid-area: filterBy;
}
#filterButton {
  grid-area: button;
}
.selectBox {
  display: block;
  font-size: 10px;
  font-family: sans-serif;
  font-weight: 700;
  color: #444;
  line-height: 1.3;
  padding: 0.6em 1.4em 0.5em 0.8em;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  border-radius: 0.5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"),
    linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
}

#searchAuthorContainer {
  margin: 5px;
}

#createTopicButton {
  float: right;
}

#errMsg {
  color: #d8000c;
  background-color: #ffd2d2;
  margin: 10px 0px;
  padding: 12px;
}

#articleForm {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 50px 50px 50px 50px 50px;
  grid-template-areas: "title" "topic" "createNewText" "article" "- " "submit";
}

.inputBox {
  border: none;
  border-bottom: 2px solid #43abc9;
}
#createTitle {
  grid-area: title;
}
#selectTopic {
  float: left;
  grid-area: topic;
}
#topic {
  float: right;
  grid-area: topic;
  width: 85%;
}
#newTopicLabel {
  grid-area: createNewText;
}
#createTopicButton {
  width: 40%;
  grid-area: createNewText;
  float: right;
}

#articleBody {
  float: left;
  grid-area: article;
  margin-bottom: 100px;
}
#articleTexArea {
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 98%;
}

#fillInFields {
  grid-area: submit;
  color: #9f6000;
  text-align: center;
  background-color: #feefb3;
}

#topicListUl {
  list-style-type: none;
}
