.App {
  display: grid;
}

.article {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template: 15em 1fr 15em / 1fr 30em 1fr; /* rows then columns */
  grid-template-areas:
    "title title votes"
    "body body other-articles"
    "comments comments other-articles";
}

#title {
  grid-area: title;
}
#body {
  grid-area: body;
  overflow-y: scroll;
}
#votes {
  grid-area: votes;
}
.articleComments {
  grid-area: comments;
}
